html,
body {
  font-family: "Montserrat", sans-serif;
  font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background-color: #231D2C;
}

.resume-title {
  color: #FFF;
  text-align: center;
  padding: 70px;

}

.resume-container {
  display: flex;
  justify-content: center;
  z-index: -2;
}



/* Sidebar Menu */
/* Menu Container */
.menu-icon {
  position: fixed;
  z-index: 2;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  padding: 6px 8px;
  background-color: #231D2C;
  box-sizing: border-box;
  cursor: pointer;
}
/* Hamburger Menu Lines */
.menu-icon span {
  width: 100%;
  height: 4px;
  display: block;
  background: #ffffff;
  margin: 6px 0;
  transition: .5s;
}
/* Menu Button - Active */
.menu-icon.active span {
  position: absolute;
  width: calc(100% - 16px);
  top: calc(50% - 8px);
}
/* Menu Icon 1st line */
.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg);
  transition: .5s;
  background-color: #FED766;
}
/* Menu Icon 2nd line */
.menu-icon.active span:nth-child(2) {
  display: none;
}
/* Menu Icon 3rd line */
.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg);
  transition: .5s;
  background-color: #FED766;
}
/* Menu Icon on Click */
.menu-icon.active {
  left: 260px;
  transition: .5s;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 1.0);
}

/* Sidebar */
/* Sidebar Container */
.sidebar {
  position: fixed;
  top: 0;
  z-index: 1; /* appears as top element on page */
  left: -320px; /* positions container off page */
  width: 320px;
  height: 100vh;
  background: #231D2C;
  transition: .5s;
  text-align: center;
  box-sizing: border-box;
  transition-timing-function: cubic-bezier(0.2, 0.5, 0.5, 1.0);

}
/* Menu List Container */
.menu ul{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px 10px;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
/* List Attributes */
.sidebar .menu li {
  list-style: none;
  padding-left: 33px;
}
/* List Links */
.sidebar .menu li a {
  position: relative;
  display: flex;
  padding: 10px 15px;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  transition: .5s;
  margin: 15px;
}
/* Menu Link Hover */
.sidebar .menu li a:hover {
  color: #FED766;
}
/* Menu Link - Above */
.sidebar .menu li a:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100px;
  height: 2px;
  margin: 10px 15px;
  background-color: #FED766;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: .3s ease-in-out;
  display: flex;
}
/* Menu Link - Above */
.sidebar .menu li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}
/* Menu Link - Below */
.sidebar .menu li a:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100px;
  height: 2px;
  margin: 10px 15px;
  background-color: #FED766;
  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: .3s ease-in-out;
}
/* Menu Link - Below */
.sidebar .menu li a:hover:after {
  transform: scaleX(1);
  transform-origin: right;
}
/* Sidebar Container - Shift right when active */
.sidebar.active {
  left: 0;
}
/* Social Icons Container */
.social-icon {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
  width: 90%;
}
/* Social Icons List */
.social-icon li {
  width: 20%;
  text-align: center;
  list-style: none;
  border-radius: 50%;
}
/* Social Icons List Links */
.social-icon li a {
  display: block;
  font-size: 18px;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: .5s;
  border-radius: 100%;
  border: solid 1px #ccc;
  display:block;
}
/* Social Icons - Active */
.social-icon li a:hover {
  color: #FED766;
  transition: .3s;
  transform: scale(1.3);
}
